@import 'material-light';

.roles {
    background-color: unset!important;
}

.new_user a {
    text-decoration: underline!important;
}

.account__wrapper,
.detailed-status__meta {
    background-color: unset!important;
}
